body {
  background: darkred;
  border: dotted 2px lightcoral;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 2px;
  padding: 2px;
}

div.app {
  border: dotted 2px wheat;
  padding: 10px;
}

div.calendar {
  display: grid;
  grid-template-columns: 1fr repeat(7, 2fr);
}
div.weekheader {
  background: white;
  color: red;
}
div.day {
  border: solid 1px white;
  margin: 2px;
  padding: 2px;
}
